.Section{
    width: 100%;
    height: 80vh;
}
.hero-area{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.hero-area .box{
    width: 50%;
}
.box img{
    width: 90%;

}


.hero-h1{
    font-size: 60px;
    line-height: 90px;
    padding-left: 20px;
    margin-bottom: 0;
    font-family: 'Yeseva One', cursive;
    border-left: 8px solid red;
   
}

.color-heading{
    color: red;
}
.box p{
    font-size: 18px;
    line-height: 30px;
}
.box button{
    background-color: red;
    padding: 15px 30px;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}
.box-1{
    padding-top: 80px;
}
.section2-heading{
    font-size: 60px;
    text-align: center;
}
.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.con-box{
    width: 32%;
    background-color: royalblue;
    padding: 30px;
    border-radius: 10px;
    padding-bottom: 50px;
}
.first-box{
    background-color: rgb(238, 201, 238);
}
.mid-box{
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(238, 190, 190);
}
.last-box{
    background-color: #a975e4;
}
.con-box img{
    width: 150px;
}
.con-box h2{
    font-size: 30px;
}
.section-3 .box h1{
    font-size: 50px;
}
.section-4 .box h1{
    font-size: 50px;
}
.con-box p{
font-size: 18px;
}
.section-3{
    margin-top: 100px;
}
.section-4{
    margin-top: 100px;
}
.section-4 .box img{
    width: 80%;
    margin-left: 100px;
}
 footer{
     width: 100%;
     height: 150px;
     background-color: rgb(2, 2, 36);
 }
 footer h1{
     font-size: 60px;
     color: white;
     text-align: center;
     margin: 0;
     font-family: 'Lobster', cursive;
     padding-top: 10px;
 }
 footer p{
     text-align: center;
     color: white;
 }
 